h1{
    text-align:center;
    color: #3399ff;
}
h2{
    text-align:center;
    color: #99ff99;
}
body{
    font-family: "Comic Sans MS"
}
img{
   display: block;
    margin-left: auto;
    margin-right: auto 
}

